.img-bg{
    background-image: url("https://i.imgur.com/qaOONyw.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    -webkit-box-shadow: 5px 5px 15px 5px #FFCD70; 
box-shadow: 5px 5px 15px 5px #FFCD70;
}