<div class="bg-color w-100">
<div class="container-fluid">
    <div class="row justify-content-center p-5">
        <div class="col-md-6">
                <h1 class="tt">Sejam todes bem vindes </h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <h2 class="tt">A seu novo espaço de estudo</h2>
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#a2d9ff" fill-opacity="0.6" d="M0,0L40,16C80,32,160,64,240,74.7C320,85,400,75,480,96C560,117,640,171,720,197.3C800,224,880,224,960,186.7C1040,149,1120,75,1200,85.3C1280,96,1360,192,1400,240L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path>
    </svg>
        <div class="jumbotron jumbotron-fluid glass w-100" id="aprendasobre">
        <div class="container-fluid">
        <h1 class="display-4 tt">E então? O que é o Polite Learning?</h1>
        <div class="col-md-12 d-flex justify-content-start p-5">
            <p class="lead">Somos um projeto voltado ao público infantil que acredita na esperança de passar informações a essa nova geração.
                Através de uma Rede Social, almejamos criar um vínculo entre professores e crianças, de forma que temas não
                abordados possam vir a ser tratados de forma descontraída e única.
            </p>
                  <div class="col-md-6 d-flex justify-content-end" > 
                    <img class="img-fluid" src="https://i.imgur.com/KCupPvX.png" alt="avatar">
                    </div>
              </div>
        </div>
    </div>
    <div class="container-fluid" id= "missao">
        <h1 class="display-4 tt d-flex justify-content-center">Missão!</h1>
        <div class="col-md-12 d-flex justify-content-start p-5">
                              <div class="col-md-6 d-flex justify-content-center"> 
                    <img class="img-fluid" src="https://i.imgur.com/cDT6IQQ.png" alt="avatar">
                    </div>
            <p class="lead">Considerando as metas da <a href="https://odsbrasil.gov.br/objetivo/objetivo?n=16" class="tt">ODS 16</a>
                até 2030, pensamos em quebrar os pré-conceitos culturais relacionados a temas não abordados. Por isso, o
                Polite Learning defende que os pensamentos estruturados durante a infância geram traços extremamente importantes da
                personalidade, e tem como objetivo seguir esse ponto para resolução.
            </p>

              </div>
        </div>
    

</div>