@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Fredoka+One&family=Poppins:wght@200&display=swap');

#img-bg{
    background-image: url("https://i.imgur.com/QPfrRPk.png");
    min-height: 970px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    -webkit-box-shadow: 5px 5px 15px 5px #ff3456; 
box-shadow: 5px 5px 15px 5px #ff3456;
}

.img{
    background-image: url("https://i.imgur.com/f2nYNbd.jpg");
    background-size: cover;

}