.img{
    min-height: 600px;
    min-width: 300px;
}
.bg-color{
    background-image: url("https://i.imgur.com/Y7PwLx9.jpg");
    padding-top: 5px;
    padding-bottom: 5px;
}
.fixed-background-equipe{
    color:preto;
    background-image: url("/assets/paginaInicial/equipe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    width: 100vw;
    z-index: -1;
   
}


.equipeh1{
    color:#4169E1;
    margin-top: 5rem;
    font-size: 3rem;
    letter-spacing: 5px;
    font-weight: 700;
}
.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;;
    margin: 0px auto;
}
.about-info img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.cards-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}
.card:nth-child(1) .front-card{
    background: url("https://i.imgur.com/t5N6DSR.jpg") center/cover no-repeat;
}
.card:nth-child(2) .front-card{
    background: url("https://i.imgur.com/m0DCeLm.jpg") center/cover no-repeat;
}
.card:nth-child(3) .front-card{
    background: url("https://i.imgur.com/pOoWg1z.jpg") center/cover no-repeat;
}
.card:nth-child(4) .front-card{
    background:  url("https://i.imgur.com/Es7dYEh.jpg") center/cover no-repeat;
}

.card:nth-child(5) .front-card{
    background: url("https://i.imgur.com/T0eoP6Y.jpg") center/cover no-repeat;
}

.card{
    height: 450px;
    perspective: 1000px;
    width: 100%;
}
.card-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.5);
}
.card:hover .card-wrapper{
    transform: rotateY(180deg);
}
.front-card, .rear-card{
    border-radius: 4px;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.rear-card{
    text-align: center;
    transform: rotateY(180deg);
    background:#4169E1;
    ;
    color: #fff;
    padding: 20px;
}
.front-card div{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    line-height: 1.6;
}
.rear-card p{
    line-height: 1.6;
    font-size: 15px;
    font-weight: 300;
}
.about-info{
    margin-top: 18px;
}
.about-info div h2{
    font-size: 19px;
    padding: 10px 0 2px;
}
.rainbow{
    background-color: #000000;
    border-radius: 90px;  
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
    
  }
  
  .rainbow-1:hover{
     background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
     animation:slidebg 5s linear infinite;

  }
